on init
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/block/zram0/disksize 533413200

    write /proc/sys/vm/page-cluster 0

on early-init
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048

on post-fs
    exec u:r:init:s0 -- /system/bin/mkswap /dev/block/zram0
    exec u:r:init:s0 -- /system/bin/swapon /dev/block/zram0

    exec u:r:su:s0 root root -- /system/bin/mkswap /dev/block/zram0
    exec u:r:su:s0 root root -- /system/bin/swapon /dev/block/zram0

    exec u:r:supersu:s0 root root -- /system/bin/mkswap /dev/block/zram0
    exec u:r:supersu:s0 root root -- /system/bin/swapon /dev/block/zram0

on property:sys.boot_completed=1
    # allows FKUpdater to know this feature is supported
    setprop fku.profiles 1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m
    
    # cpufreq settings
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    # interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 100
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 652800:45 729600:50 960000:55 1190400:60 1497600:70 1728000:75 1958400:85 2265600:95"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 99000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 30000

    # sched
    write /dev/cpuctl/cpu.notify_on_migrate 0

    # cpu-boost
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/sync_threshold 0
    write /sys/module/cpu_boost/parameters/input_boost_freq 1497600
    write /sys/module/cpu_boost/parameters/input_boost_ms 150

    # IO
    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/bdi/min_ratio 5
    write /sys/block/mmcblk0/queue/read_ahead_kb 128

    # KSM
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/run 0

    # Enable adaptive LMK and set vmpressure_file_min
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    # Prevent mmc from scaling its clk down when performing writes
    write /sys/class/mmc_host/mmc0/clk_scaling/scale_down_in_low_wr_load 1

    # block wakeup sources
    write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_extscan_wl_ws 0
    write /sys/module/wakeup/parameters/enable_ipa_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_wow_wl_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_ws 0
    write /sys/module/wakeup/parameters/enable_timerfd_ws 0
    write /sys/module/wakeup/parameters/enable_netlink_ws 0
    write /sys/module/wakeup/parameters/enable_netmgr_wl_ws 0

    exec u:r:su:s0 root root -- /init.supolicy.sh
    exec u:r:supersu:s0 root root -- /init.supolicy.sh

    exec u:r:su:s0 root root -- /init.special_power.sh
    exec u:r:supersu:s0 root root -- /init.special_power.sh
