# Power saving profile
on property:fku.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1190400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 883200
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/class/devfreq/cpubw/governor powersave
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1190400 4:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 100

# Balance (FK defaults)
on property:fku.perf.profile=1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804800
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/devfreq/cpubw/governor bw_hwmon
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1017600 4:998400"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255

# Performance
on property:fku.perf.profile=2
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804800
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/class/devfreq/cpubw/governorbw_hwmon performance
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600 4:1804800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2000
    write /sys/class/leds/lcd-backlight/max_brightness 255
