# Power saving profile
on property:fku.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 768000
#    write /sys/devices/system/cpu/cpu6/online 0
#    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/module/msm_performance/parameters/max_cpus "-1:2"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:768000 4:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 100

# Balance (FK defaults)
on property:fku.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
#    write /sys/devices/system/cpu/cpu6/online 1
#    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/module/msm_performance/parameters/max_cpus "-1:-1"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 4:768000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255

# Performance
on property:fku.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
#    write /sys/devices/system/cpu/cpu6/online 1
#    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/module/msm_performance/parameters/max_cpus "-1:-1"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1555200 4:960000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 255
